:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

.plan-typeB {
    height: 100px;
    width: 310px;
    color: rgb(249, 249, 252);
    font-weight: bolder;
    border-style: solid;
    border-color: black;
    background-color: rgb(43, 46, 220);
    margin: 2px;
    margin-top: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    padding-left: 10px;
}

.plan-typeS {
    height: 100px;
    width: 460px;
    color: rgb(249, 249, 252);
    font-weight: bolder;
    border-style: solid;
    border-color: black;
    background-color: rgb(43, 46, 220);
    margin: 2px;
    margin-top: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    padding-left: 10px;
}

.types {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.price-column {
    margin-left: 2px;
    margin-right: 2px;
    height: 400px;
    width: 150px;
    border-color: rgb(43, 46, 220);
    background-color: azure;
    border-style: solid;
    border-width: 5px;
    margin-top: 20px;
    display: inline-block;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: bold;
    padding-left: 75px;
}
.buy-now {
    height: 50px;
    width: 150px;
    background-color: #fff700;
    border-style: solid;
    border-width: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 24px;
    padding-left: 25px;
    padding-top: 5px;
    color: blue;
}
.buy {
    display: flex;
    margin-right: 290px;
    margin-left: 555px;
    position: static;
}

.table {
    border-right: 0px;
    position: absolute;
    margin-top: 90px;
    margin-left: 280px;
    line-height: 40px;
    width: 890px;
}

td {
    border-bottom: 1px solid red;
    font-size: 20px;
    column-width: 200px;
}
